**/__pycache__/
.venv
**.pyc
test_data/
.DS_Store
*.jpeg
*.mp3
*.mp4
test_folder/
**toast.py
*.db
logs/
**/processed*/
video_data/
video_comments_data/
progress_tracking/
dataset/
comments_data/
browser_fingerprint.json
exported_cookie.txt
tiktok_cookies.json
video_list/
crawl_account/